:root {
  --min-default-gap: 1rem;
  --max-default-gap: 2rem;
}

html {
  font-family: "Roboto";
}

/* Header para mobile */

.topHeader {
  background-color: #ccc;
  text-align: center;
}

.logo {
  width: 25%;
  padding: 1rem;
}

.topHeader ul {
  padding: 0;
  list-style-type: none;
  /* font-size: 2rem; */
}

.topHeader a {
  text-decoration: none;
  color: black;
  align-items: center;
}

.topHeader li {
  font-size: 2rem;
}

.socialMedia {
  display: flex;
  gap: var(--max-default-gap);
  align-items: center;
  justify-content: center;
}

.socialMedia img {
  width: 2rem;
}

.nav li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* /////////////// */

/* Main para mobile */

.mainly-content {
    padding-bottom: 1rem;
    margin: 4rem;
}

.title-content {
  margin-top: 4rem;
  font-size: 2.5rem;
  text-align: center;
}

.subtitle-content {
  margin: auto 1rem;
  font-size: 2rem;
  text-align: center;
}

.img-content {
  display: block;
  width: 75%;
  margin: 2rem auto 0;
  background-color: #ccc;
  padding: 2rem;
  border-radius: 50%;
  margin-bottom: 3rem;
}

.btn1 {
    margin: 0;
}

.btn1 a{
    padding: 0;
    height: 0;
    font-size: 0rem;
    margin: 0;
    visibility: hidden;
}

.btn2 {
  text-align: center;
  margin: 4rem auto 0 0;
}

.btn2 a {
  font-size: 2rem;
  text-decoration: none;
  color: black;
  padding: 1rem;
  border-radius: 25%;
  background-color: #ccc;
}

    /* Cards para mobile */

.card-content {
    background-color: #ccc;
    padding: var(--min-default-gap);
}

.card {
    width: 70%;
    margin: 2rem auto;
    padding: 0.8rem;
    text-align: center;
    background-color: white;
    border-radius: 20%;
}

.card h3 {
    font-size: 2rem;
    padding-top: 0.5rem;
}

.card p {
    width: 80%;
    font-size: 2rem;
    margin: auto;
}


    /* /////////////// */

    /* Map para mobile */

    .map-content {
        margin: var(--min-default-gap);
        text-align: center;
        align-items: center;
    }

    .map-content h3{
        font-size: 2rem;
    }

    .map {
      width: 90%;
    }

    /* /////////////// */

/* /////////////// */

/* Footer para mobile  */

.footer {
  background-color: black;
  color: white;
  padding: var(--max-default-gap);
}

.footer p {
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem 2rem;
}

.footer strong {
  font-style: italic;
  text-transform: uppercase;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* /////////////// */

/* min-width = 0 a 780px / sm */
/* min-width = 780px / md */

@media screen and (min-width: 48.75em) {
  /* Parte de cima para telas de 780px para cima */

  /* Header */

  .topHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
  }

  .logoAndSocial {
    display: flex;
  }

  .logo {
    width: 15vh;
    margin-left: var(--min-default-gap);
  }

  .nav {
    display: flex;
    margin-right: var(--min-default-gap);
    /* gap: var(--min-default-gap); */
    font-size: 32px;
  }

  .nav li {
    padding: 1rem;
  }

  .socialMedia {
    margin-left: var(--min-default-gap);
    gap: var(--min-default-gap);
  }

  .socialMedia img {
    width: 2.5rem;
  }

  /* ////////// */
  
  /* Main */

  .mainly-content {
    display: flex;
    margin: 2rem;
    /* justify-content: space-between; */
  }

  .img-content {
    width: auto;
    height: 45vh;
    margin-right: var(--max-default-gap);
  }

  .text-content {
    width: 40%;
    margin-top: var(--max-default-gap);
    margin-left: var(--max-default-gap);
  }

  .title-content {
    font-size: 2.5rem;
  }

  .subtitle-content {
    font-size: 2rem;
  }

  .btn1 {
    text-align: center;
    margin-top: 5rem;
  }

  .btn1 a{
    visibility: visible;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    padding: 1rem;
    border-radius: 25%;
    background-color: #ccc;
  }

  .btn2 {
    width: 1px;
    font-size: 0.1rem;
    padding: 0;
    visibility: hidden;
  }

  
  /* ////////// */
  
  /* Cards */
  
  .card-content {
    display: flex;
    padding: var(--max-default-gap);
    /* margin: var(--max-default-gap); */
    }
    
  .card {
    gap: var(--min-default-gap);
    /* padding: 1rem; */
    padding-bottom: 2rem;
    margin: 1rem;
  }

  .card h3 {
    font-size: 2.2rem;
  }

  .card p {
    font-size: 1.7rem;
  }
    
    /* ////////// */
    
    /* Map  */
    
    .map-content h3 {
        font-size: 2.5rem;
    }

    .map {
        width: 80%;
        height: 40vh;
    }

    /* ////////// */
    
    /* Footer */
    
    .footer p {
      font-size: 2rem
    }

    /* ////////// */

}

/* min-width: 900px / lg */

@media screen and (min-width: 56.25em) {
  /* Parte de cima para telas de 900px para cima  */

  /* Header */

  .topHeader li {
    font-size: 2.2rem;
  }

  .socialMedia img {
    width: 3rem;
  }

  /* ///// */

  /* Main  */

  .btn1 a {
    font-size: 1.5rem; 
  }

  /* ///// */

}

/* min-width: 1024px / xl */

@media screen and (min-width: 64em) {
    
      /* Main */
    
      .title-content {
        /* margin-top: 2rem; */
        font-size: 3rem;
      }
    
      .subtitle-content {
        font-size: 2rem;
      }

      .img-content {
        width: auto;
        height: 65vh;
        margin-right: var(--max-default-gap);
      }
      
      .btn1{
        margin-top: 5rem;
      }

      .btn1 a {
        font-size: 2rem; 
      }
        
        /* ///// */
}
